.DS_Store
__pycache__

build/
bin/
python_install/
conda/

# files produced in processing
*.npy
*.root
*.log
*.ckpt
*.pdf
*checkpoint.ipynb
*.h5
*.egg-info/
*_cache/
*.ipynb
.coverage
lightning_logs/
logs/
tmp/
env/
.cometml-runs
