workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: always
    - if: $CI_PIPELINE_SOURCE == "push"
      when: always
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: always
    - when: never

default:
  interruptible: true

stages:
  - lint
  - builds
  - tests
  - coverage
  - docs
  - publish

include:
  - .gitlab/.ci-pre-commit.yaml
  - .gitlab/.ci-build.yaml
  - .gitlab/.ci-test.yaml
  - .gitlab/.ci-coverage.yaml
  - .gitlab/.ci-docs.yaml
  - .gitlab/.ci-publish.yaml
