# infra
pytest==7.4.2
pytest-cov==4.1.0
comet_ml==3.35.3
tqdm==4.66.1
rich==13.6.0
pre-commit==3.5.0

# core
h5py==3.10.0
numpy==1.24.2
torch==2.1.1
lightning==2.1.2
jsonargparse[all]==4.27.1
torchmetrics==1.2.1
onnx==1.15.0
onnxruntime==1.15.1
atlas-ftag-tools==0.1.13
scipy==1.12.0

# S3 and muTransfer
mup==1.0.0
boto3==1.28.17
s3fs==2023.9.2
s3path==0.5.0
tensorboard==2.14.1
