pytest==7.2.2
pytest-cov==4.0.0
h5py==3.8.0
numpy==1.24.2
torch==2.0.1
lightning==2.0.2
jsonargparse[all]==4.19.0
torchmetrics==0.11.4
comet_ml==3.33.5
tqdm==4.65.0
rich==13.4.2
pre-commit==3.2.1
onnx==1.13.0
onnxruntime==1.13.1
atlas-ftag-tools==0.1.13
boto3==1.28.17
s3fs==2023.9.2
s3path==0.5.0
tensorboard==2.14.1
