name: flow

data:
  train_file: /share/rcifdata/svanstroud/data/flow/preprocessed/PFlow-hybrid-resampled_scaled_shuffled.h5
  val_file: /share/rcifdata/svanstroud/data/flow/preprocessed/PFlow-hybrid-validation-resampled_scaled_shuffled.h5
  norm_dict: /share/rcifdata/svanstroud/data/flow/scale_dict.json
  #move_files_temp: /dev/shm/svanstro/salt/
  variables:
    jets:
      - pt_btagJes
      - eta_btagJes
    tracks:
      - d0
      - z0SinTheta
      - dphi
    flow:
      - deta
      - dphi

model:
  model:
    class_path: salt.models.SaltModel
    init_args:
      init_nets:
        - input_name: tracks
          dense_config: &init
            input_size: 5
            output_size: &embed_dim 128
            hidden_layers: [256]
            activation: &activation SiLU
        - input_name: flow
          dense_config:
            <<: *init
            input_size: 4

      encoder:
        class_path: salt.models.Transformer
        init_args:
          num_layers: 6
          embed_dim: *embed_dim
          # flash attention
          attn_type: flash-varlen
          norm: LayerNorm
          do_final_norm: True
          dense_kwargs:
            activation: *activation
            gated: False
          attn_kwargs:
            num_heads: 8

      pool_net:
        class_path: salt.models.GlobalAttentionPooling
        init_args: { input_size: *embed_dim }

      tasks:
        class_path: torch.nn.ModuleList
        init_args:
          modules:
            - class_path: salt.models.ClassificationTask
              init_args:
                name: jets_classification
                input_name: jets
                label: flavour_label
                loss: torch.nn.CrossEntropyLoss
                dense_config:
                  input_size: *embed_dim
                  output_size: 3
                  hidden_layers: [128, 64, 32]
                  activation: *activation
                  dropout: 0.0
