name: gnn_sdp

model:
  model:
    class_path: salt.models.JetTagger
    init_args:

      init_net:
        class_path: salt.models.Dense
        init_args:
          input_size: 23
          output_size: &embd_dim 128
          hidden_layers: [256]
          activation: &activation SiLU
          norm_layer: &norm_layer LayerNorm

      gnn:
        class_path: salt.models.Transformer
        init_args:
          attention:
            class_path: salt.models.ScaledDotProductAttention
          embd_dim: *embd_dim
          out_proj: False
          num_heads: 8
          num_layers: 8
          residual: true
          norm_layer: *norm_layer
          activation: *activation
          dropout: &dropout 0.1

      pool_net:
        class_path: salt.models.GlobalAttentionPooling
        init_args:
          input_size: *embd_dim

      jet_net:
        class_path: salt.models.ClassificationTask
        init_args:
          name: jet_classification
          label: jets/labels
          loss: torch.nn.CrossEntropyLoss
          net:
            class_path: salt.models.Dense
            init_args:
              input_size: *embd_dim
              output_size: 3
              hidden_layers: [256, 128, 64]
              activation: *activation
              norm_layer: *norm_layer
              dropout: *dropout
